<div class="w3-row-padding w3-margin-top">
    <div class="w3-col s12 m6 l6 w3-pale-yellow">
        <app-lista-uno (emitirLista)="obtenerDatos($event)" ></app-lista-uno>
    </div>
    <div class="w3-col s12 m6 l6 w3-pale-blue">
        <app-lista-dos (emitirLista)="obtenerDatos($event)"></app-lista-dos>
    </div>
</div>
<div class="w3-row-padding w3-margin-top">
    <div class="w3-col s12 m12 l12 w3-pale-green">
        <ul class="w3-ul">
            <li *ngFor="let data of lista">
                {{ data }}
            </li>
          </ul>
    </div>
</div>
