
<div class="w3-center">
    <div>
        <h2>Contador Hijo</h2>
        <h4>{{hcontador}}</h4>
    </div>

    <div class="w3-bar">
        <button class="w3-button w3-round-large w3-bar-item w3-indigo w3-margin-right"
        (click)="multiplicar()">
            multiplicar
        </button>
        <button class="w3-button w3-round-large w3-bar-item w3-teal"
        (click)="dividir()">
            dividir
        </button>
    </div>

    <div class="w3-margin-top">
        <app-nieto [ncontador]="hcontador" (resetContador)="asignaEmite($event)" ></app-nieto>
    </div>

</div>
