

<div class="w3-row">
    <div class="w3-half">
      <div class="drag-container" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <div id="drag-item-1" class="drag-item" draggable="true" (dragstart)="dragStart($event)">Drag Item 1</div>
        <div id="drag-item-2" class="drag-item" draggable="true" (dragstart)="dragStart($event)">Drag Item 2</div>
        <div id="drag-item-3" class="drag-item" draggable="true" (dragstart)="dragStart($event)">Drag Item 3</div>
      </div>
    </div>
  
    <div class="w3-half">
      <div class="drag-container" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
    </div>
  </div>

