<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col s12 m6  l6">
            <form class="w3-container" [formGroup]="userForm" (ngSubmit)="submitForm()">

                <label>ID</label>
                <input class="w3-input" formControlName="id" name="id" type="number">

                <label>Name</label>
                <input class="w3-input" formControlName="name" name="name" type="text">

                <div class="w3-text-red" *ngIf="userForm.get('name')?.hasError('required') &&  userForm.get('name')?.touched ">
                  Name is required.
                </div>

                <label>Username</label>
                <input class="w3-input" formControlName="username" name="username" type="text">

                <label>Email</label>
                <input class="w3-input" formControlName="email" name="email" type="text">

                <label>Password</label>
                <input class="w3-input" formControlName="password" name="password" type="password">

                <div formGroupName="address">
                    <h4>Address</h4>
                  
                    <label>Street: </label>
                    <input class="w3-input"  id="street" type="text" formControlName="street">
                  
                    <label>Suite: </label>
                    <input class="w3-input" id="suite" type="text" formControlName="suite">
                  
                    <label>city: </label>
                    <input class="w3-input" id="city" type="text" formControlName="city">

                    <label>zipcode </label>
                    <input class="w3-input" id="zipcode" type="text" formControlName="zipcode">

                    <div formGroupName="geo">
                        <h5>Geo</h5>

                        <label for="lat">Lat: </label>
                        <input class="w3-input" id="lat" type="text" formControlName="lat">

                        <label for="lng">Lng: </label>
                        <input class="w3-input" id="lng" type="text" formControlName="lng">
                    </div>

                </div>

                <label>Phone</label>
                <input class="w3-input" formControlName="phone" name="phone" type="text">

                <label>Website</label>
                <input class="w3-input" formControlName="website" name="website" type="text">

                <div formGroupName="company">
                    <h4>Company</h4>
                    
                    <label for="name">Name: </label>
                    <input class="w3-input" id="name" type="text" formControlName="name">

                    <label for="catchPhrase">CatchPhrase: </label>
                    <input class="w3-input" id="catchPhrase" type="text" formControlName="catchPhrase">

                    <label for="bs">Bs: </label>
                    <input class="w3-input" id="bs" type="text" formControlName="bs">
                </div>

                <div class="w3-padding-16">
                    <button class="w3-button w3-teal" [disabled]="!userForm.valid" >Submit</button>
                </div>

            </form>
        </div>
        <div class="w3-col s12 m6 l6">
            <table class="w3-table w3-striped w3-border">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Points</th>
                </tr>
                <tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>50</td>
                </tr>
                <tr>
                  <td>Eve</td>
                  <td>Jackson</td>
                  <td>94</td>
                </tr>
                <tr>
                  <td>Adam</td>
                  <td>Johnson</td>
                  <td>67</td>
                </tr>
              </table>
        </div>
    </div>
</div>