<div class="w3-center">
    <div>
        <h3>Contador : {{ count$ | async }}</h3>
    </div>
    <div class="w3-bar">
        <button class="w3-bar-item w3-button w3-teal w3-round-large w3-margin-left" 
        (click)="increment()">
            Increment</button>
        <button class="w3-bar-item w3-button w3-red w3-round-large w3-margin-left"
         (click)="reset()">
            Reset Counter</button>
        <button class="w3-bar-item w3-button w3-amber w3-round-large w3-margin-left"
         (click)="decrement()">
            Decrement</button>
    </div>
</div>