
<div class="w3-bar w3-blue-grey">
    <div class="w3-bar-item">Angular</div>
    <a routerLink="/inicio" class="w3-bar-item w3-button">Inicio</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Contenidos</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a routerLink="/input-output/padre" class="w3-bar-item w3-button">Input-Output</a>
            <a routerLink="/change-detection/listas" class="w3-bar-item w3-button">Change-detection</a>
            <a routerLink="/reactividad/product-list" class="w3-bar-item w3-button">Reactividad</a>
            <a routerLink="/redux/my-counter" class="w3-bar-item w3-button">ngrx-redux</a>
            <a routerLink="/shop-redux/product-list" class="w3-bar-item w3-button">shop-redux</a>
            <a routerLink="/reactive-form/user-form" class="w3-bar-item w3-button">reactive-form</a>
            <a routerLink="/kanban-firebase/tareas" class="w3-bar-item w3-button">kanban-firebase</a>
        </div>
    </div>
</div>