<div class="w3-center">
    <div>
        <h3>Contador Nieto</h3>
        <h5>{{ncontador}}</h5>
    </div>
    
    <div class="w3-bar">
        <button class="w3-button w3-round-large w3-bar-item w3-red"
        (click)="reset()">
            reset
        </button>
    </div>

</div>

