<div class="w3-card">
    <h2>Formulario uno</h2>
    <p>Input Data:</p>
    <input type="text" class="w3-input" name="inputData" [(ngModel)]="inputData" >
    <button type="button" (click)="onEnviarLista()" class="w3-button w3-black" >Enviar a la lista</button>
</div>

{{ render() }}
