<div class="w3-container w3-margin-top">

    <div class="w3-row">
        <div class="w3-col s12 m4 l4">
            <div class="w3-container w3-border" (drop)="drop($event)" (dragover)="allowDrop($event)">
                <div class="w3-bar">
                    <div class="w3-bar-item"><h4>Backlog</h4></div>
                    <div class="w3-bar-item w3-right">
                        <button class="w3-button" (click)="openModal='block'  ">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>

                <div *ngFor="let itm of tareas">
                    <div draggable="true" (dragstart)="dragStart($event)">
                        <app-tarea [tarea]="itm"
                            *ngIf="itm.estado == 'backlog' " 
                            (editar)="editarTarea($event)"
                            (eliminar)="eliminarTarea($event)">
                        </app-tarea>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="w3-col s12 m4 l4">
            <div class="w3-container w3-border" (drop)="drop($event)" (dragover)="allowDrop($event)" >
                <h4>In-process</h4>
            </div>
        </div>
        <div class="w3-col s12 m4 l4">
            <div class="w3-container w3-border"  >
                <h4>Done</h4>
            </div>
        </div>
    </div>

</div>

<div class="w3-modal" [ngStyle]="{'display': openModal}">
    <div class="w3-modal-content">
      <header class="w3-container w3-teal"> 
        <span (click)="openModal='none' "
        class="w3-button w3-display-topright">&times;</span>
        <h5>Tarea</h5>
      </header>
      <div class="w3-container">

        <form [formGroup]="form" (ngSubmit)="onRegistarTarea()"  class="w3-container w3-margin-top">

            <label class="w3-text-teal">Titulo:</label>
            <input class="w3-input" formControlName="titulo" type="text">
            <div class="w3-text-red" *ngIf="form.get('titulo')?.hasError('required') &&  form.get('titulo')?.touched ">
                Titulo es requerido
            </div>

            <label class="w3-text-teal">Descripcion:</label>
            <input class="w3-input" formControlName="descripcion" type="text">
            <div class="w3-text-red" *ngIf="form.get('descripcion')?.hasError('required') &&  form.get('descripcion')?.touched ">
                Descripcion es requerido
            </div>

            <label class="w3-text-teal">Estado:</label>
            <input class="w3-input" formControlName="estado" type="text">
            <div class="w3-text-red" *ngIf="form.get('estado')?.hasError('required') &&  form.get('estado')?.touched ">
                Estado es requerido
            </div>

            <br>
            <button
            [disabled]="!form.valid"
             type="submit" class="w3-button w3-teal">Registar</button>

        </form>
        <br>
      </div>
      <footer class="w3-container w3-teal">
        <br>
      </footer>
    </div>
</div>


{{ tareas | json }}